<div class="container mt-5">
  <table mat-table [dataSource]="miPedidoDetalle" class="mat-elevation-z8">
    <ng-container matColumnDef="Nombre">
      <th mat-header-cell class="bold-header" *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element.pedidoNombre }}</td>
    </ng-container>

    <ng-container matColumnDef="Direccion">
      <th mat-header-cell class="bold-header" *matHeaderCellDef>Direccion</th>
      <td mat-cell *matCellDef="let element">
        {{ element.direccionCompletaPedido }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Numero Telefono">
      <th mat-header-cell class="bold-header" *matHeaderCellDef>Telefono</th>
      <td mat-cell *matCellDef="let element">
        {{ element.numeroContactoPedido }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Cantidad">
      <th mat-header-cell class="bold-header" *matHeaderCellDef>Cantidad</th>
      <td mat-cell *matCellDef="let element">{{ element.montoPedido }}</td>
    </ng-container>

    <ng-container matColumnDef="Estado">
      <th mat-header-cell class="bold-header" *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let element">{{ element.estadoPedido }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="desplazarTablaColumnas"></tr>
    <tr mat-row *matRowDef="let row; columns: desplazarTablaColumnas"></tr>
  </table>
</div>
